/********** VARIABLES **********/
:root {
    --header_height: 75px;
    --footer_height: 50px;
    --black: #000000;
    --white: #ffffff;
    --green: #008a61;
    --background_color: #f0f0f0;
}

/********** RESET CSS **********/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 1em;
    list-style: none;
    scroll-behavior: smooth;
}

/********** GENERAL **********/
body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: calc(100% - var(--header_height) - var(--footer_height));
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--background_color);
}

h1 {
    font-size: 2.5rem;
}

.score_container {
    width: 150px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 25px;
}

.score {
    font-size: 5rem;
    font-weight: 900;
}

/********** HEADER **********/

header {
    width: 100%;
    height: var(--header_height);
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    background-color: var(--black);
}

/********** OTHELLO GAME **********/
#othello_game_container {
    position: relative;
    border-radius: 5px;
    outline: 10px solid var(--black);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
}

#othello_game_container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 1);
    pointer-events: none;
}

#game_board_layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}

.piece {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.5);
}

.piece.black {
    border: 0.5px solid #3c3c3c;
    background: radial-gradient(circle at 30% 30%, #333333, var(--black) 70%);
}

.piece.white {
    border: 1px solid #c9c9c9;
    background: radial-gradient(circle at 30% 30%, var(--white), #cccccc 70%);
}

/********** FOOTER **********/

footer {
    width: 100%;
    height: var(--footer_height);
    background-color: var(--black);
}