/********** VARIABLES **********/
:root {
    --header_height: 75px;
    --footer_height: 50px;
    --gap: 25px;
    --black: #000000;
    --white: #ffffff;
    --green: #008a61;
    --background_color: #f0f0f0;
}

/********** RESET CSS **********/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 1em;
    list-style: none;
    scroll-behavior: smooth;
}

/********** GENERAL **********/
body {
    width: 100%;
    height: 100dvh;
}

main {
    width: 100%;
    height: calc(100% - var(--header_height) - var(--footer_height));
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--background_color);
}

h1 {
    font-size: 2.5rem;
}

/* General responsive */
@media (max-width: 768px) {
    main {
        flex-direction: column;
        justify-content: center;
    }
}

/********** HEADER **********/

header {
    width: 100%;
    height: var(--header_height);
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    background-color: var(--black);
}

/* Logo */
#logo_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

#logo_container img {
    width: 25px;
    height: 25px;
}

/* Navbar */
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap)
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
}

/* Game mode selection menu */
#radio_buttons_container {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: var(--white);
}

#radio_buttons_container .radio_button input {
    display: none;
}

#radio_buttons_container .radio_button span {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    text-transform: uppercase;
    color: rgb(50, 65, 85);
    cursor: pointer;
    transition: all .1s ease-in-out;
}

#radio_buttons_container .radio_button input:checked+span {
    font-weight: 800;
    color: var(--white);
    background-color: var(--black);
}

/* Restart button */
#restart_button {
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--white);
    cursor: pointer;
    transition: all .1s ease-in-out;
}

/* Header responsive */
@media (max-width: 768px) {
    header {
        justify-content: center;
    }

    nav {
        display: none;
    }
}

/********** OTHELLO GAME **********/
#othello_board_border {
    border: 15px solid var(--black);
    border-radius: 10px;
    box-shadow: 25px 25px 35px 0 rgba(0, 0, 0, 0.5);
}

#othello_game_container {
    position: relative;
}

#othello_game_container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 1);
    pointer-events: none;
}

#game_board_layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}

.disc {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5);
}

.disc.black {
    border: 0.5px solid #3c3c3c;
    background: radial-gradient(circle at 30% 30%, #333333, var(--black) 70%);
}

.disc.white {
    border: 1px solid #c9c9c9;
    background: radial-gradient(circle at 30% 30%, var(--white), #cccccc 70%);
}

.score_container {
    width: 150px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.score {
    font-size: 5rem;
    font-weight: 900;
}

/* Othello game responsive */
@media (max-width: 768px) {
    #othello_board_border {
        border: 12.5px solid var(--black);
        border-radius: 8px;
        box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.5);
    }

    .score_container {
        width: 100%;
        flex-direction: row-reverse;
        transform: scale(0.5);
    }
}

@media (max-width: 576px) {
    #othello_board_border {
        border: 8.75px solid var(--black);
        border-radius: 5.75px;
        box-shadow: 15px 15px 20px 0 rgba(0, 0, 0, 0.5);
    }
}

/********** FOOTER **********/

footer {
    width: 100%;
    height: var(--footer_height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--black);
}